body {
  background: black;
  padding: 0px;
  font-family: serif;
  color: gray;

  }
.myTitle {
  background: gray;
  color: black;
  font-size: 50px;
  border-bottom: solid 5px black;
  font-weight: bold;
  }
  
.bigBoss{ 
  background: black;
  border-radius: 1px;
  padding: 20px;
  transition: all 0.2s;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  }
  
  .subBtn{
    background:red;
    color:aqua;
    height 25px;
    width: 120px;
    padding: 20px;
    background-image:
  }
  
  .subBtn:hover{
    cursor:pointer
    
  }
  .learningFlex{
    display: flex;
    justify-content: space-between;
    height: 25px;
    flex-direction: ;
    color: gray;  
  }
  .myImg{
    height: 200px;
    width: 240px;
  }
  
  .tabSelector{
    border-bottom: solid 2px red
  }
  
  .tabSelector:hover {
    cursor:pointer
  }
  
  .chosenClass{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; 
    align-items: center;  
   }
  
  .viewArea{
    height: 100px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
  }
